<% variant = line_item.variant -%>
<%= order_form.fields_for :line_items, line_item do |item_form| -%>
  <tr>
    <td class="thumb" data-hook="cart_item_image">
      <%= link_to(render('spree/shared/image',
                         image: (variant.gallery.images.first || variant.product.gallery.images.first),
                         size: :small), variant.product) %>
    </td>
    <td class="details" data-hook="cart_item_description">
      <h4><%= link_to line_item.name, product_path(variant.product) %></h4>
      <%= variant.options_text %>
      <% if line_item.insufficient_stock? %>
        <span class="out-of-stock">
          <%= t('spree.out_of_stock') %>&nbsp;&nbsp;<br />
        </span>
      <% end %>
      <span class="" data-hook="line_item_description">
        <%= line_item_description_text(line_item.description) %>
      </span>
    </td>
    <td class="price text-center" data-hook="cart_item_price">
      <strong><%= line_item.single_money.to_html %></strong>
    </td>
    <td class="qty text-center" data-hook="cart_item_quantity">
      <%= item_form.number_field :quantity, min: 0, class: "input", size: 5 %>
    </td>
    <td class="total text-center" data-hook="cart_item_total">
      <strong class="primary-color"><%= line_item.display_amount.to_html unless line_item.quantity.nil? %></strong>
    </td>
    <td class="text-right cart-item-delete" data-hook="cart_item_delete">
      <%= link_to image_tag('icons/delete.png'), '#', class: 'delete', id: "delete_#{dom_id(line_item)}" %>
    </td>
  </tr>

<% end %>
