<%= render :partial => 'spree/shared/error_messages', :locals => { :target => @user } %>
<!-- section -->
<div class="section">
  <!-- container -->
  <div class="container">
    <div class='panel panel-default card card-signin flex-row  border-top-reviews'>
     <div class="panel-heading">If you have shopped with us before, please enter your details in the boxes below. If you are a new customer, please proceed to the Billing & Shipping section.</div>
      <div class='panel-body'>
        <div id="registration" class='row' data-hook>
          <div id="account" class="col-md-6">
            <div class='row'>
              <div class='col-md-8 col-md-offset-2'>
                <%= render partial: 'spree/user_sessions/login' %>
              </div>
            </div>
          </div>
          <% if Spree::Config[:allow_guest_checkout] %>
          <div id="guest_checkout" data-hook class="col-md-6">
            <div class='row'>
              <div class='col-md-8 col-md-offset-2'>
                <div class='alert alert-info'>
                  <%= Spree.t(:guest_user_account) %>
                </div>
                <% if flash[:registration_error] %>
                <div class='flash alert alert-error'><%= flash[:registration_error] %></div>
                <% end %>
                <%= form_for @order, :url => update_checkout_registration_path, :method => :put, :html => { :id => 'checkout_form_registration' } do |f| %>
                <div class='form-group'>

                  <%= f.email_field :email, :class => 'title', class: 'input', placeholder:"Email" %>
                </div>
                <div class='actions'>
                  <%= f.submit Spree.t(:continue), :class => 'btn primary-btn btn-block' %>
                </div>
                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
