<% @body_id = 'signup' %>
<div class="section">
<div class="container">
<div id='devise' class='row'>
  <div class='col-md-6 col-md-offset-3'>
    <%= render 'spree/shared/error_messages', target: resource %>

    <div id="new-customer" class='panel panel-default card card-signin flex-row  border-top-reviews'>
      <div class="card-img-left d-none d-md-flex">
         <!-- Background image for card set in CSS! -->
      </div>

      <div class='panel-heading'>
        Create an account
      </div>
      <div data-hook="signup" class='panel-body'>
        <%= form_for resource, :as => :spree_user, :url => spree.registration_path(resource) do |f| %>
          <div data-hook="signup_inside_form">
            <%= render :partial => 'spree/shared/user_form', :locals => { :f => f } %>
            <p><%= f.submit Spree.t(:create), :class => 'btn success-btn btn-block' %></p>
          </div>
        <% end %>
        <hr>
        <div class='row'>
          <div class='col-md-8 col-md-offset-1'>
            <%= link_to Spree.t(:login_as_existing), spree.login_path %>
          </div>
        </div>
      </div>
    </div>

    <div data-hook="login_extras"></div>
  </div>
</div>
</div>
</div>
